<template>
  <div
    class="
      mt-8
      bg-darkGrey
      px-20
      py-3
      text-white text-center text-sm
      cursor-pointer
    "
  >
    {{ title }}
  </div>
</template>

<script>
export default {
    props: [
        'title'
    ]
};
</script>