<template>
  <div class="w-full bg-darkGrey text-white flex justify-center items-center flex-col">
    <div class="lg:w-9/12 w-full py-10 lg:mx-20">
      <div class="flex flex-col lg:flex-row justify-between items-start">
        <div class="m-auto lg:m-0 text-center lg:text-left">
          <img src="" alt="perPETual Logo" />
          <h5 class="mt-2 text-sm font-proximaLight">
            Improve the quality of pet care
          </h5>
        </div>
        <div class="w-full lg:w-auto mx-auto mt-4 lg:mt-0 lg:m-0 text-center lg:text-left">
          <h5 class="text-md font-proximaMedium">About</h5>
          <ul class="w-full mt-2 text-sm font-proximaLight cursor-pointer flex justify-center flex-row lg:flex-col">
            <li>About Us</li>
            <li class="mx-6 lg:mx-0 lg:my-2">perPETual Blog</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w-9/12 lg:mx-20 pt-10 mb-10 flex flex-col lg:flex-row justify-between lg:items-end border-t border-lightGrey">
      <div class="lg:w-5/12 w-full mx-auto lg:mx-0">
        <h5 class="uppercase text-sm font-proximaMedium text-center lg:text-left">perpetual all rights reserved</h5>
        <ul class="mt-2 underline capitalize text-xs font-proximaLight flex justify-center lg:justify-between cursor-pointer">
          <li>privacy policy</li>
          <li class="mx-6 lg:mx-0">terms of use</li>
          <li>contact us</li>
        </ul>
      </div>
      <div class="lg:w-1/6 w-4/12 mt-6 lg:mt-0 lg:mx-0 flex mx-auto justify-between cursor-pointer">
        <InstagramIcon 
          iconColor="#fafafa"
        />
        <FacebookIcon 
          iconColor="#fafafa"
        />
        <TwitterIcon 
          iconColor="#fafafa"
        />
        <YoutubeIcon 
          iconColor="#fafafa"
        />
      </div>
    </div>
  </div>
</template>

<script>
import InstagramIcon from './icons/InstagramIcon.vue'
import FacebookIcon from './icons/FacebookIcon.vue'
import TwitterIcon from './icons/TwitterIcon.vue'
import YoutubeIcon from './icons/YoutubeIcon.vue'

export default {
  components: {
    InstagramIcon,
    FacebookIcon,
    TwitterIcon,
    YoutubeIcon
  }
};
</script>

<style>
</style>