<template>
  <div
    class="
      flex
      flex-col
      md:flex-row
      justify-center
      md:justify-between
      items-center
      md:items-start
      lg:text-base
      text-sm
      font-proximaMedium
      text-mediumGrey
      uppercase
      px-8
      md:px-14
      py-10
    "
  >
    <div class="w-1/5 md:w-3/12 hidden md:flex justify-between cursor-pointer">
      <span>about</span>
      <span> consultation</span>
    </div>
    <div class="w-5/5 md:w-6/12 flex flex-col justify-center items-center">
      <img src="" alt="perpetual logo" />
      <div>
        <ul class="mt-4 flex justify-center font-proximaLight capitalize cursor-pointer">
          <li>veterinary clinic</li>
          <li class="mx-10">pets</li>
          <li>services</li>
        </ul>
      </div>
    </div>
    <div class="w-1/5 md:w-3/12 hidden md:flex justify-between cursor-pointer">
      <div>
        <SearchInput />
      </div>
      <span>login</span>
    </div>
  </div>
</template>

<script>
import SearchInput from "./forms/SearchInput";

export default {
  components: {
    SearchInput,
  },
};
</script>