<template>
  <div class="border-t border-lightGrey20 w-full bg-white flex justify-center">
    <div class="lg:w-9/12 w-10/12 py-6 flex flex-col lg:flex-row justify-between items-center">
      <h1
        class="lg:w-3/12 h-full flex items-center text-left text-mediumGrey text-2xl font-proximaBold lg:border-r-2 border-lightGrey20"
      >
        Pets records
      </h1>
      <div class="w-full lg:w-8/12 mt-4 lg:mt-0 flex justify-between">
        <img src="@/assets/img/bird.jpg" alt="bird" class="w-20 h-20 md:w-32 md:h-32 lg:w-36 lg:h-36 border border-blue" />
        <img src="@/assets/img/cat.jpg" alt="cat" class="w-20 h-20 md:w-32 md:h-32 lg:w-36 lg:h-36 border border-blue" />
        <img src="@/assets/img/dog.jpg" alt="dog" class="w-20 h-20 md:w-32 md:h-32 lg:w-36 lg:h-36 border border-blue" />
        <img src="@/assets/img/hamster.jpg" alt="hamster" class="w-20 h-20 md:w-32 md:h-32 lg:w-36 lg:h-36 border border-blue" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>