<template>
  <div
    class="mt-5 mb-10 flex justify-center font-proximaMedium text-mediumGrey"
  >
    <div class="w-80">
      <h3 class="text-center text-2xl uppercase font-proximaBold">register</h3>
      <div class="mt-3">
        <InputImage @blurred="inputImg" />
      </div>
      <div>
        <input
          type="text"
          placeholder="fullname"
          v-model="fullname"
          class="
            w-full
            border border-lightGrey
            rounded-sm
            px-3
            py-3
            my-1
            text-sm
          "
        />
        <FormError :errors="errorPhone" />
        <input
          type="text"
          placeholder="phone"
          v-model="phone"
          class="w-full border rounded-sm px-3 py-3 my-1 text-sm"
          :class="{ 'border-red': !phoneReq, 'border-lightGrey': phoneReq }"
        />
        <FormError :errors="errorEmail" />
        <input
          type="text"
          placeholder="email"
          v-model="email"
          class="w-full border rounded-sm px-3 py-3 my-1 text-sm"
          :class="{ 'border-red': !emailReq, 'border-lightGrey': emailReq }"
        />
        <input
          type="text"
          placeholder="address"
          v-model="address"
          class="
            w-full
            border border-lightGrey
            rounded-sm
            px-3
            py-3
            my-1
            text-sm
          "
        />
        <FormError :errors="errorPet" />
        <InputSelect @blurred="inputSelect" :petReq="petReq" />
        <InputPassword @blurred="inputPasswordVal" />
      </div>
      <div class="mt-2 flex items-center">
        <input type="checkbox" name="emailUpdate" value="checked" />
        <label
          for="emailUpdate"
          class="font-proximaLight text-mediumGrey text-xs ml-2"
        >
          Receive email updates?</label
        >
      </div>
      <SubmitBtn @click.native="submitForm" title="Create Acount" />
      <div class="mt-2 font-proximaLight text-mediumGrey text-xs">
        <span> Already have an account? </span>
        <span class="underline cursor-pointer"> sign in here </span>
      </div>
    </div>
  </div>
</template>

<script>
import InputSelect from "./forms/InputSelect.vue";
import InputPassword from "./forms/InputPassword.vue";
import InputImage from "./forms/InputImage.vue";
import FormError from "./warning/FormError.vue";
import SubmitBtn from "./buttons/SubmitBtn.vue";

export default {
  components: {
    InputSelect,
    InputPassword,
    InputImage,
    FormError,
    SubmitBtn,
  },
  data() {
    return {
      errorEmail: [],
      errorPhone: [],
      errorPet: [],
      emailReq: true,
      phoneReq: true,
      petReq: true,
      showLoader: false,
      fullname: "",
      email: "",
      address: "",
      phone: "",
      image: "",
      petRecord: "",
      password: "",
    };
  },
  methods: {
    inputImg(val) {
      //   console.log(val);
      this.image = val;
    },
    inputSelect(val) {
      this.petRecord = val;
    },
    inputPasswordVal(val) {
      // console.log(val)
      this.password = val;
    },
    submitForm(e) {
      this.errorEmail = [];
      this.errorPhone = [];
      this.errorPet = [];

      if (!this.phone) {
        this.errorPhone.push("Phone number required");
        this.phoneReq = false;
      } else {
        this.phoneReq = true;
      }

      if (!this.petRecord) {
        this.errorPet.push("Pet record required");
        this.petReq = false;
      } else {
        this.petReq = true;
      }

      if (!this.email) {
        this.errorEmail.push("Email required");
        this.emailReq = false;
      } else if (!this.validEmail(this.email)) {
        this.errorEmail.push("Valid email required.");
        this.emailReq = false;
      } else {
        this.showLoader = true;
        this.emailReq = true;
        // this.login();
      }

      if (
        this.errorEmail.length == 0 &&
        this.errorPhone.length == 0 &&
        this.errorPet.length == 0
      ) {
        const allVal = {
          fullname: this.fullname,
          email: this.email,
          address: this.address,
          phone: this.phone,
          image: this.image,
          petRecord: this.petRecord,
          password: this.password,
        };

        alert(JSON.stringify(allVal));
      }

      if (!this.errorEmail.length) {
        return true;
      }
    },
    validEmail(email) {
      var re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>

<style>
</style>