<template>
  <div id="app">
    <Navbar class="md:hidden" />
    <Header />
    <Signup />
    <PetsRecords />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Signup from "./components/Signup.vue";
import PetsRecords from "./components/PetsRecords.vue";
import Footer from "./components/Footer.vue";
import Navbar from "./components/ResponsiveNavbar.vue";

export default {
  name: "App",
  components: {
    Header,
    Signup,
    PetsRecords,
    Footer,
    Navbar
  },
};
</script>

<style lang="scss">
// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   margin-top: 60px;
// }
</style>
