@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Milliard Light';
      src: url(./assets/fonts/milliard-cufonfonts-webfont/Rene Bieder  Milliard Light.woff) format("woff");
    }
    @font-face {
      font-family: 'Milliard Medium';
      src: url(./assets/fonts/milliard-cufonfonts-webfont/Rene Bieder  Milliard Medium.woff) format("woff");
    }
    @font-face {
        font-family: 'Milliard SemiBold';
        src: url(./assets/fonts/milliard-cufonfonts-webfont/Rene Bieder  Milliard SemiBold.woff) format("woff");
    }
    @font-face {
        font-family: 'Milliard Bold';
        src: url(./assets/fonts/milliard-cufonfonts-webfont/Rene Bieder  Milliard Bold.woff) format("woff");
    }
  }

  body {
    background-color: #EEF3F4;
  }