<template>
  <div>
    <select
      name="pets"
      id="pets"
      class="
        w-full
        bg-white
        text-mediumGrey
        border
        rounded-sm
        px-2
        py-3
        my-1
        text-sm
      "
      :class="{ 'border-red': !petReq, 'border-lightGrey': petReq }"
      required
      @change="onSelectChange"
      v-model="value"
    >
      <option value="" disabled selected>Pet record</option>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
    </select>
  </div>
</template>

<script>
export default {
  props: ["title", "petReq"],
  data() {
    return {
      value: ""
    }
  },
  methods: {
    onSelectChange() {
      // console.log(this.value)
      this.$emit("blurred", this.value);
    },
  },
};
</script>

<style>
select:required:invalid {
  color: #9ca3af;
}
option[value=""][disabled] {
  display: none;
}
</style>