<template>
  <div class="flex justify-center items-center flex-col">
    <div>
      <img v-if="url" :src="url" class="rounded-full w-24 h-24" />
    </div>
    <div class="my-2 flex items-center justify-center cursor-pointer">
      <input
        type="file"
        @change="onFileChange"
        id="upload-photo"
        class="-z-1 opacity-0 absolute"
      />
      <DownloadIcon iconColor="#0ac0cb" class="cursor-pointer" />
      <label
        for="upload-photo"
        class="
          ml-2
          font-proximaLight
          text-mediumGrey text-xs text-center
          cursor-pointer
        "
        >Add a picture</label
      >
    </div>
  </div>
</template>

<script>
import DownloadIcon from "../icons/DownloadIcon.vue";

export default {
  components: {
    DownloadIcon,
  },
  data() {
    return {
      url: "https://www.its.ac.id/international/wp-content/uploads/sites/66/2020/02/blank-profile-picture-973460_1280-1-300x300.jpg",
    };
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);

      this.$emit("blurred", this.url);
    },
  },
};
</script>