<template>
  <div class="relative">
    <input
      :type="type"
      value=""
      placeholder="Password"
      class="
        w-full
        bg-white
        text-mediumGrey
        border border-lightGrey
        rounded-sm
        px-3 py-3
        my-1
        text-sm
      "
      v-model="value"
      @change="onPassChange"
    />
    <CloseEye @click.native="showPassword" v-if="type == 'text'" class="absolute top-4 right-2 cursor-pointer" iconColor="#9ca3af" />
    <OpenEye @click.native="showPassword" v-else class="absolute top-4 right-2 cursor-pointer" iconColor="#9ca3af" />
    <!-- <img src="@/assets/img/open-eye.svg" alt="open-eye" @click="showPassword" class="absolute top-3 right-2" /> -->
  </div>
</template>

<script>
import CloseEye from '../icons/CloseEye.vue'
import OpenEye from '../icons/OpenEye.vue'

export default {
  props: ["title"],
  components: {
      CloseEye,
      OpenEye
  },
  data() {
    return {
      type: "password",
      btnText: "Show Password",
      value: ""
    };
  },
  methods: {
    showPassword() {
      if (this.type === "password") {
        this.type = "text";
      } else {
        this.type = "password";
      }
    },
    onPassChange() {
      // console.log(this.value)
      this.$emit("blurred", this.value);
    }
  },
};
</script>