<template>
  <label :class="{ active: isActive }" class="search" for="inpt_search">
    <input
      @focus="isActive = true"
      @blur="checkVal"
      v-model="search"
      id="inpt_search"
      type="text"
    />
  </label>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      isActive: false,
    };
  },
  methods: {
    checkVal() {
      if (this.search == "") {
        this.isActive = false;
      } else {
        this.isActive = true;
      }
    },
  },
};
</script>

<style>
.search {
  display: inline-block;
  position: relative;
  height: 15px;
  width: 15px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 2px 7px 7px 7px;
  border: 1px solid #231f20;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  right: -3px;
  top: 10px;
  background: #231f20;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 150px;
  height: 30px;
  margin-right: 0px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  outline: none;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}
</style>